# Python Basic Assignment No. 01

                                                                                                         By
                                                                                                     Santhosh Kumar M

# Question No. 01

In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

*

"hello"

-87.8

-

/

+

6

# Answer No. 01

In the elements string, integer, are values & mathematical operators are expressions.

#### Values - "hello", -87.8, 6 are values

#### Expressions - +, -, *, /, are expressions

# Question No. 02

#### What is the difference between string and variable?

# Answer No. 02

#### String

string means its a sequence of characters.  For eg. names, place names, sentences, words, 

Anything inside the double quote or single quote that will consider as a string.

(e.g.)

"I love iNeuron", "I like ineuron", "12.34"

#### Variable

Variable helps us to store some data / some information in any data types.  Suppose If we have a data and we want to use it again but how to use?, in that point of the we can store our data inside the variable and we can just whereever we want.  

For eg.

x = "ineuron"

y = 1234

z = 12.34

p = True

# Question No. 03

#### Describe three different data types ?

There are so many data types available in python.  Here I am describing some of the data types like int, float, complex, bool, string, list, tuple, set, dictionary

# Answer No. 04

#### (i) int

int means integer, its just a number without any decimal point.

In [1]:
x = 7

type(x)

int

#### (ii) float

float means a number with decimal point.

In [2]:
x = 7.7

type(x)

float

#### (iii) Complex

Complex number means it will have one real part and imaginary part.

In [3]:
x = 7+0j

type(x)

complex

#### (iv) Bool

Boolean means True or False

In [4]:
x = True
y = False

print(type(x))
print(type(y))

<class 'bool'>
<class 'bool'>

#### (v) String

String is a sequence of characters

In [5]:
x = "ineuron"
y = "sudhanshu"

print(type(x))
print(type(y))

<class 'str'>
<class 'str'>

#### (vi) List

Any data type of values, we will store inside the list.  List is very useful store multiple items in single Variable.  List are created using square brackets.

In [6]:
x = [1, 7.9, "sdfdf", 3+7j, True, "1524641"]

type(x)

list

#### (vii) Tuple

Any data type of values, we will store inside the tuple.  Tuple is very useful to store multiple items in single variable.  Tuples are created using round brackets.  Tuples is a Ordered, Unchangeble, Allow Duplicates

In [7]:
y = (2, 6.0, "Santhosh", "651")

type(y)

tuple

#### (viii) Set

Set is store to use multiple items in a single variable, set is a Unordered, No duplicates.

In [8]:
z = {1,2,9,98,3,5,7,9}

print(z)

print(type(z))

{1, 2, 3, 98, 5, 7, 9}
<class 'set'>

#### (ix) Dictionary

Dictionary has a keys and values.

In [9]:
dictionary = {"a" : 99, "b" : "santhosh"}

In [10]:
dictionary

{'a': 99, 'b': 'santhosh'}

In [11]:
type(dictionary)

dict

# Question No. 04

#### What is an expression made up of? What do all expressions do?

# Answer No. 04

#### Expression 
Expression will give some value or some result after interpreted in our IDE.

#### Statement
A statement is not evaluated for some result.  A statement is used for creating variable.

In [12]:
a = 5*10+2+3 # Expression

a

55

In [13]:
a = "ineuron is a best place to learn data science"  #statement
b = 25 #statement


print(a)
print(b)

ineuron is a best place to learn data science
25

# Question No. 05

#### This assignment statements, like spam = 10. What is the difference between an expression and a statement?

#### Expression:

Expression is a combination of values, variables and operators.

In [14]:
a = 2+5-9*96/2

a

-425.0

#### Statement

A statement is a unit of code that has an effect like creating a variable or displaying a variable.

In [15]:
b = "My name is santhosh" #Statement

print("Bangalore") #Expression Statement

Bangalore

# Question No. 06

#### After running the following code, what does the variable bacon contain?
#### bacon = 22
#### bacon + 1

# Answer No. 06

After executed the code the answer will be bacon = 23.

The value of bacon is set to 22 in next line we just add 1.  So that we got 23.

but if we use the variable name bacon in future the bacon value will consider as 22, because we did not stored in a variable.

Suppose if we stored (bacon + 1) inside the variable there is a chance to get 23 wherever bacon variable is used.

In [16]:
bacon = 22

bacon + 1

print(bacon)

22

In [17]:
bacon = 22

bacon = bacon + 1

print(bacon)

23

# Question No. 07

#### What should the values of the following two terms be?
#### 'spam' + 'spamspam'

#### 'spam' * 3

# Answer No. 07

The both answer will be "spamspamspam".

The first one is a string concatenation and the second one is a string multiplication.

In [18]:
'spam' + 'spamspam' #string concatenation

'spamspamspam'

In [19]:
'spam' * 3 #string multiplication

'spamspamspam'

# Question No. 08

#### Why is eggs a valid variable name while 100 is invalid?

Eggs is a valid variable name and 100 is a invalid variable name, because there is some conditions to create a variable names.

(i) Variable name must start with letter or underscore characters.

(ii) Variable name should not start with integers.

(iii) Variable name contains only alpha numeric values & underscores.

(iv) In python everything is a case sensitive. For eg. a = 10 & A = 10 (both are different variables)

(v) We can't able to create a variable name like same as reserved keywords (Reserved keywords cannot be used as a variable name)

In [20]:
egg = "ineuron"
100 = "Sudhanshu"

print(egg) #it will run
print(100) #it will not run and raise a error because of invalid variable name

SyntaxError: cannot assign to literal (Temp/ipykernel_5560/4219540995.py, line 2)

# Question No. 09

#### What three functions can be used to get the integer, floating-point number, or string version of a value?

# Answer No. 09

with the help of int, float, str functions we can able to change the data types from one to another.

In [21]:
print("Convert into integer from float - ", int(25.0))
print("Convert into float from int - ", float(25))
print("Convert into string from int - ", int(25))

Convert into integer from float -  25
Convert into float from int -  25.0
Convert into string from int -  25

# Question No. 10

#### Why does this expression cause an error? How can you fix it?

#### 'I have eaten ' + 99 + ' burritos'

This expression will raise a error because we are trying to concatenate the interger between string, In python we can only concatenate the string to string or integer to integer.

So that, first we should change the integer data type into string, then we can able to execute that expressions

In [22]:
x = 'I have eaten ' + str(99) + ' burritos'

In [23]:
x

'I have eaten 99 burritos'

                                                            Completed

                                                                                                        Santhosh Kumar M